{% extends 'base.html'%}
{% load static %}
{% block metadescription %}
    {% if Category %}
        {{category.description|truncatewords:155}}
    {% else %}
        Welcome to ABC store Where you can buys different items....
    {% endif %}
{% endblock %}
{% block title %}
    {% if Category %}
        {{category.name}}- ABC Store
    {% else %}
        See our New Collections -ABC store
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
<div class="container">
    <div class="row my_row_class">
        <div class="mx-auto">
        <p><a href="{% url 'shopapp:allProdCat' %}">OUR PRODUCT COLLECTION</a></p>
            </div>
    </div>
</div>
    {% endif %}
<div class="mx-auto">
    {% if category %}
    <img  class="my_image" src="{{category.image.url}}" alt="{{category.name}}" style="width:400px; height:200px">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div class="container">
<img class="my_image my_image_padding" src="{% static 'image/banner.png' %}" alt="Our Products" width="1250px";>
</div>
<br>
    <div class="row">
    <div class=" col-sm-6">
    <h1 class="text-center my_title"> Our Product Collections</h1>
    <p class="text-justify"> Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate  users after installed base benefits.
        Dramatically visualize customer directed convergence without revolutionary ROI.</p>
</div>
    </div>
    {% endif %}
{% for product in products.object_list %}
<div class="container">
    <div class="row ">
        <div class="col-md-4">
        <div class="col-xol-6 my_bottom_margin " >
            <div class="card text-center" style="min-width:12rem;min-height:12rem">
                <a href="{{product.get_url}}"><img class="card-img-center align-img-center" style="min-width:5rem;min-height:3rem " src="{{product.image.url}} " alt="{{product.name}}" style="width:250px;height:100px"></a><br></div>
                    <div class="card-body">
                        <h4>{{product.name}}</h4>
                            <p>{{product.price}}</p>
                        </div>
                     </div>
             </div>
        </div>
</div>
{% endfor %}

<div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
        <hr>
            <div class="text-right padding=15px ">
                {% for pg in products.paginator.page_range %}
                    <a href="?page={{pg}}" class="btn-btn-light btn-sm {% if 'products.number==pg' %} active {% endif %}">{{pg}}</a>
                {% endfor%}
                {% endif %}
            </div>
</div>
{% endblock %}
